<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>SecuriteFilter</display-name>
    <filter-name>SecuriteFilter</filter-name>
    <filter-class>fr.lteconsulting.SecuriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecuriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.vue.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CartesServlet</display-name>
    <servlet-name>CartesServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.vue.ListeCartesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartesServlet</servlet-name>
    <url-pattern>/cartes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.action.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCarteServlet</display-name>
    <servlet-name>DeleteCarteServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.action.DeleteCarteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCarteServlet</servlet-name>
    <url-pattern>/deleteCarte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCarteServlet</display-name>
    <servlet-name>EditCarteServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.action.EditCarteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCarteServlet</servlet-name>
    <url-pattern>/editCarte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToggleCarteServlet</display-name>
    <servlet-name>ToggleCarteServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.action.ToggleCarteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToggleCarteServlet</servlet-name>
    <url-pattern>/toggleCarte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.vue.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.vue.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubscribeServlet</display-name>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.action.SubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenererCartesServlet</display-name>
    <servlet-name>GenererCartesServlet</servlet-name>
    <servlet-class>fr.lteconsulting.servlet.action.GenererCartesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenererCartesServlet</servlet-name>
    <url-pattern>/genererCartes</url-pattern>
  </servlet-mapping>
</web-app>